<!DOCTYPE html>
<html>
  <head>
    <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>My Bookmarks</title>
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
  </head>
  <body id="themebuttondiv" class="container themebuttondiv init">
    <div id="toggle-btn">
      <svg height="50" width="50" fill="var(--lightboltsvg)" viewBox="0 0 512 512">
        <g>
          <g>
            <polygon
              points="426.667,213.333 288.36,213.333 333.706,0 148.817,0 85.333,298.667 227.556,298.667 227.556,512 		"
            />
          </g>
        </g></svg>
        <br />
      <span id="time"></span>
    </div>
    <script src="main.js"></script>
    {{content}}
    <br /><br />
    Dashboard by <a href="https://brainbits.in">Pranav Chakkarwar</a>
  </body>
</html>
